@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  font-family: "GmarketSansMedium";
  font-weight: 400;
}

a {
  color: black;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none; /* 기본적으로 숨김 */
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 30vh;
  font-weight: bold;
  z-index: 1000;
  text-align: center;
}

body {
  margin: 0;
  font-size: 16px;
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  box-sizing: border-box;
}

header {
  flex: 0 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  flex-wrap: wrap;
  padding: 0 1rem;
}

header .tabs {
  justify-content: flex-start;
  height: 100%;
}

header .tabs a {
  color: black;
  text-decoration: none;
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 20px;
}

header .tabs a::after {
  content: "";
  height: 2px;
  width: 0;
  display: flex;
  position: absolute;
  bottom: 0;
  background-color: black;;
  transition: width 0.25s;
}

header .tabs a.active::after,
header .tabs a:hover::after {
  width: 100%;
}

header h1 {
  margin: 0;
}

header h1 a {
  font-size: 18px;
  color: black;
  text-underline-offset: 5px;
  margin-left: 1rem;
}

header > div {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: flex-end;
}

header .buttons {
  gap: 1rem;
  margin: .5rem 0;
}

header button {
  background-color: black;
  padding: 0.5rem 2rem;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
}

header .workers {
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 2.5rem;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .selector {
  display: flex;
  gap: 0;
}

header .selector label:not(:last-of-type) {
  border-right: 0;
}

header .selector label:first-of-type {
  border-radius: 5px 0 0 5px;
}

header .selector label:last-of-type {
  border-radius: 0 5px 5px 0;
}

header input[type="radio"] {
  display: none;
  appearance: unset;
}

header input[type="radio"]:checked + label {
  background-color: royalblue;
  color: white;
}

header input[type="radio"] + label {
  padding: 0.75rem 1rem;
  border: 1px solid #ddd;
  cursor: pointer;
}

main {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  max-height: calc(100vh - 70px);
}

#group-container {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
}

#group-container.active {
  flex: 0 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
}

.group {
  flex: 1 1 auto;
  width: calc(20% - 1rem);
  max-width: 20%;
  border: 1px solid #ddd;
  padding: 1rem;
}

.group i {
  font-style: normal;
  font-size: 24px;
}

.group ul {
  display: flex;
  list-style: none;
  gap: 0.75rem;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  font-size: 17px;
}
.group h2 {
  margin: 0 0 10px;
  color: royalblue;
  font-size: 18px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border: 1px solid;
  padding: 2rem;
}

.container .screen {
  background-color: cornflowerblue;
  color: white;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 7vh;
}

.container .screen::before {
  content: "FRONT(SCREEN)";
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .back {
  background-color: #eee;
  color: #434649;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .back::before {
  content: "BACK";
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .area {
  display: flex;
  gap: 1rem;
}

.container .floor::before {
  content: "계단";
}

.container .floor {
  flex: 0 0 10vw;
  background-color: #eee;
  color: #434649;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .seats {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.container .seats ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 1rem;
}

.container .seats ul:first-of-type li {
  background-color: #eee;
}

.container .seats li {
  flex: 1;
  border: 1px solid;
  padding: 1rem 1rem;
  text-align: center;
}

.pub {
  display: flex;
  justify-content: space-between;
  gap: 3vw;
  padding: 1rem;
  position: relative;
  font-size: 15px;
  width: 100%;
  max-width: 1640px;
}

.pub aside {
  flex: 0 0 8vw;
  position: relative;
}

.pub aside div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pub .seats {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  position: relative;
  height: max-content;
}

.pub .door {
  position: absolute;
  right: 0;
  bottom: 30vh;
  background-color: #434649;
  color: white;
  width: 3vw;
  aspect-ratio: 1 / 2;
}

.pub .door2 {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #434649;
  color: white;
  width: 3vw;
  aspect-ratio: 1 / 2;
}

.pub .fridge {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee;
  width: 5vw;
  aspect-ratio: 2 / 1;
  grid-column: 2 / 3;
  grid-row: 4;
}

.pub .kitchen {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #eee;
  width: 6vw;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  aspect-ratio: 1 / 3;
}

.pub .kitchen img {
  max-width: 45px;
}

.pub .reception {
  position: absolute;
  left: 0;
  top: 65%;
  background-color: #eee;
  width: 3vw;
  aspect-ratio: 1 / 3;
}

.pub .buffet {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;
  width: 80%;
  height: 100%;
  border: 1px solid slategray;
  gap: 1rem;
}

.pub .buffet img {
  max-width: 45px;
}

.pub .partition {
  width: 100%;
}

.pub .partition :last-child {
  flex: 1 1 auto
}

.pub .hidden {
  background-color: #eee;
}

.pub .seats .tv {
  background-color: dodgerblue;
  color: white;
  padding: .5rem 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -9.5rem;
}

.pub aside .tv {
  background-color: dodgerblue;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  bottom: 10vh;
  width: 35px;
  aspect-ratio: 1 / 3;
}

main article {
  flex: 1;
}

main article ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0 1rem;
}

main article:first-of-type {
  flex: 2;
}

.group-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 5vw;
}

.groups {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.groups:nth-child(2) ul {
  margin-left: 70px;
}

.groups ul {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #838689;
  border-left: 1px solid #838689;
}

.groups li {
  background-color: #e8e8e8;
  min-height: 24px;
  width: 70px;
  height: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #838689;
  border-bottom: 1px solid #838689;
  padding: 0.5rem;
}

.groups li[data-random] {
  background-color: white;
}

.groups ul.col-2 {
  display: grid;
  grid-template-columns: repeat(2, 70px);
  grid-template-rows: repeat(8, 1fr);
}

.groups ul.col-4 {
  display: grid;
  grid-template-columns: repeat(4, 70px);
  grid-template-rows: repeat(2, 1fr);
}

.groups ul.col-6 {
  display: grid;
  grid-template-columns: repeat(6, 70px);
  grid-template-rows: repeat(2, 1fr);
}

.groups ul.col-8 {
  display: grid;
  grid-template-columns: repeat(8, 70px);
  grid-template-rows: repeat(2, 1fr);
}

.groups > div {
  display: flex;
  gap: .5rem;
}

.groups > div span {
  border: 1px solid slategray;
  height: 36px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem
}