@font-face {
  font-family: 'Moneygraphy-Rounded';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2411-2@1.0/Moneygraphy-Rounded.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  font-family: 'Moneygraphy-Rounded';
  font-weight: 400;
}

#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none; /* 기본적으로 숨김 */
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 30vh;
  font-weight: bold;
  z-index: 1000;
  text-align: center;
}

body {
  padding: 1rem;
  margin: 0;
  font-size: 16px;
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  margin-bottom: 2rem;
  flex-wrap: wrap;
  padding-bottom: 1rem;
}

header h1 {
  margin: 0;
}

header > div {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: flex-end;
}

header button {
  background-color: black;
  padding: 0.75rem 2rem;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
}

header .selector {
  display: flex;
  gap: 0;
}

header .selector label:not(:last-of-type) {
  border-right: 0;
}

header .selector label:first-of-type {
  border-radius: 5px 0 0 5px;
}

header .selector label:last-of-type {
  border-radius: 0 5px 5px 0;
}

header input[type="radio"] {
  display: none;
  appearance: unset;
}

header input[type="radio"]:checked + label {
  background-color: royalblue;
  color: white;
}

header input[type="radio"] + label {
  padding: 0.75rem 1rem;
  border: 1px solid #ddd;
  cursor: pointer;
}

#group-container {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

#group-container.active {
  flex: 0 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
}

.group {
  flex: 1 1 auto;
  width: calc(20% - 1rem);
  max-width: 20%;
  border: 1px solid #ddd;
  padding: 1rem;
}

.group i {
  font-style: normal;
  font-size: 24px;
}

.group ul {
  display: flex;
  list-style: none;
  gap: .75rem;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  font-size: 17px;
}
.group h2 {
  margin: 0 0 10px;
  color: royalblue;
  font-size: 18px;
}

@media screen and (max-width: 640px) {
  header input[type="radio"] + label {
    padding: 0.5rem;
  }

  header button {
    padding: 0.5rem 1rem;
  }

  header > div {
    justify-content: space-between;
  }

  .group {
    padding: 0.75rem;
    width: 100%;
    max-width: 100%;
  }
}
